body {
  background-color: blue;
  
}
h1,p {
  text-align:center;
  color: white
}

.container{
  display:flex;
  background-color: blue;
  width: 1000px;
}

.container div{
  background-color: green;
  margin:10px;
  padding:20px;
  font-size: 24px;
  content: center;
}

footer {
  
  background-color:green;
  color:white;
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;

  
 
}

.social a{
  color:white;
  margin: 0 1rem;
  font-size:1.2rem;
}
