body {
  background-color: blue;
  
}
h1,p {
  text-align:center;
  color: white
}

.container{
  display:flex;
  background-color: blue;
  width: 1000px;
}

.container div{
  background-color: green;
  margin:10px;
  padding:20px;
  font-size: 24px;
  content: center;
}

footer {
  
  background-color:green;
  color:white;
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;

  
 
}

.social{
  display:flex;
  gap: 1re;
  justify-content: center;
  margin-top: 1rem;
 
}

.social a{
  display: inline-flex;
  align-items:center;
  justify-content:center;
  width:50px;
  height:50px;
  background:white;
  color:green;
  border-radius:50px;
  text-decoration: none;
  font-size:1.2rem;
}